@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
    outline: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none
}

*:focus-visible {
    outline: 1px solid #111;
    outline-offset: 2px;
    border-radius: .2rem
}

*,:after,:before {
    box-sizing: border-box
}

:root {
    -webkit-tap-highlight-color: transparent;
    cursor: default;
    -moz-tab-size: 4;
    tab-size: 4
}

html,body {
    height: 100%;
    overscroll-behavior: none
}

img {
    display: block;
    width: 100%;
    max-width: 100%
}

ul {
    list-style: none
}

button {
    background: none;
    border: 0;
    cursor: pointer
}

html {
    font-size: 8px
}

@media (min-width: 360px) {
    html {
        font-size:10px
    }
}

body {
    font-family: Pretendard,malgun,Apple SD Gothic Neo,돋움,Dotum;
    word-break: keep-all;
    overflow-wrap: break-word;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -.05em;
    background: #fff;
    color: var(--color-black)
}

:where(html:lang(en)) body {
    font-family: Pretendard,malgun,Apple SD Gothic Neo,돋움,Dotum;
    word-break: normal;
    letter-spacing: -.05em
}

:where(html:lang(ja)) body {
    font-family: Noto Sans JP;
    word-break: normal;
    letter-spacing: -.05em
}

:where(html:lang(zh)) body {
    font-family: Noto Sans SC;
    word-break: normal;
    letter-spacing: -.05em
}

b {
    font-weight: 700;
    color: var(--text-color-1)
}

@font-face {
    font-family: Pretendard;
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: Pretendard;
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: Pretendard;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: Pretendard;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: Pretendard;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: Pretendard;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Pretendard;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: Pretendard;
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: Pretendard;
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 200;
    src: local("☺"),url(/assets/NotoSans-ExtraLight-BgAef1lO.woff2) format("woff2"),url(/assets/NotoSans-ExtraLight-e6OS4Daq.woff) format("woff")
}

@font-face {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 300;
    src: local("☺"),url(/assets/NotoSans-Light-DLhPelQS.woff2) format("woff2"),url(/assets/NotoSans-Light-CHZutIjM.woff) format("woff")
}

@font-face {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 400;
    src: local("☺"),url(/assets/NotoSans-Regular-iXLMT21w.woff2) format("woff2"),url(/assets/NotoSans-Regular-CVJ8MOEO.woff) format("woff")
}

@font-face {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    src: local("☺"),url(/assets/NotoSans-Medium-BI9HYXeb.woff2) format("woff2"),url(/assets/NotoSans-Medium-BbqkFFeJ.woff) format("woff")
}

@font-face {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 600;
    src: local("☺"),url(/assets/NotoSans-SemiBold-DJkaNzAE.woff2) format("woff2"),url(/assets/NotoSans-SemiBold-C5FfdhZV.woff) format("woff")
}

@font-face {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 700;
    src: local("☺"),url(/assets/NotoSans-Bold-OZd2uT2D.woff2) format("woff2"),url(/assets/NotoSans-Bold-D4WDPLpy.woff) format("woff")
}

@font-face {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 800;
    src: local("☺"),url(/assets/NotoSans-ExtraBold-lEm6vHdS.woff2) format("woff2"),url(/assets/NotoSans-ExtraBold-DarQ1SW6.woff) format("woff")
}

@font-face {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 900;
    src: local("☺"),url(/assets/NotoSans-Black-C11X1Aez.woff2) format("woff2"),url(/assets/NotoSans-Black-Bp0T3lZ5.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: 100;
    src: url(/assets/noto-sans-jp-v54-japanese_latin-100-FNuLkmxF.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: 200;
    src: url(/assets/noto-sans-jp-v54-japanese_latin-200-BP5Nm3TQ.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: 300;
    src: url(/assets/noto-sans-jp-v54-japanese_latin-300-FzrgbOjt.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: 400;
    src: url(/assets/noto-sans-jp-v54-japanese_latin-regular-4dGCN58M.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: 500;
    src: url(/assets/noto-sans-jp-v54-japanese_latin-500-CTFp56_g.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: 600;
    src: url(/assets/noto-sans-jp-v54-japanese_latin-600--87ivP1I.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: 700;
    src: url(/assets/noto-sans-jp-v54-japanese_latin-700-C3wh_X9J.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: 800;
    src: url(/assets/noto-sans-jp-v54-japanese_latin-800-D9W0wuoi.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: 900;
    src: url(/assets/noto-sans-jp-v54-japanese_latin-900-BrE9kk9L.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Noto Sans SC;
    font-style: normal;
    font-weight: 100;
    src: url(/assets/noto-sans-sc-v38-chinese-simplified_latin-100-CZJuWsm5.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Noto Sans SC;
    font-style: normal;
    font-weight: 200;
    src: url(/assets/noto-sans-sc-v38-chinese-simplified_latin-200-Ww4EhflP.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Noto Sans SC;
    font-style: normal;
    font-weight: 300;
    src: url(/assets/noto-sans-sc-v38-chinese-simplified_latin-300-Ka6FDPdL.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Noto Sans SC;
    font-style: normal;
    font-weight: 400;
    src: url(/assets/noto-sans-sc-v38-chinese-simplified_latin-regular-DS5SpWNO.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Noto Sans SC;
    font-style: normal;
    font-weight: 500;
    src: url(/assets/noto-sans-sc-v38-chinese-simplified_latin-500-BX157IbN.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Noto Sans SC;
    font-style: normal;
    font-weight: 600;
    src: url(/assets/noto-sans-sc-v38-chinese-simplified_latin-600-xVV9Rw0J.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Noto Sans SC;
    font-style: normal;
    font-weight: 700;
    src: url(/assets/noto-sans-sc-v38-chinese-simplified_latin-700-BmuLCgFi.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Noto Sans SC;
    font-style: normal;
    font-weight: 800;
    src: url(/assets/noto-sans-sc-v38-chinese-simplified_latin-800-CO8guXyM.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Noto Sans SC;
    font-style: normal;
    font-weight: 900;
    src: url(/assets/noto-sans-sc-v38-chinese-simplified_latin-900-T09w0BSC.woff2) format("woff2")
}

@font-face {
    font-family: Playball;
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: local("Playball Regular"),url(/assets/Playball-Regular-BTn-8EKS.woff) format("woff")
}

.viewport {
    position: fixed;
    right: 0;
    bottom: 0;
    background: orange;
    padding: .5rem 1rem;
    font-weight: 900
}

.button {
    --btnMainColor: var(--primaryBtnMainColor, var(--bg-color-1));
    --btnTextColor: var(--color-white);
    background: var(--btnMainColor);
    border: 1px solid var(--btnMainColor);
    padding: 0 2rem;
    border-radius: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 5.6rem;
    overflow-wrap: initial
}

.infoList__item {
    position: relative;
    padding-left: 1.2rem;
    color: var(--text-color-2);
    text-align: left;
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.4rem
}

@media (min-width: 1329px) {
    .infoList__item {
        font-size:1.5rem
    }
}

.infoList__item:before {
    content: "";
    position: absolute;
    top: .6rem;
    left: 0;
    width: .4rem;
    height: .4rem;
    background: var(--text-color-3);
    border-radius: 50%
}

.infoList__item+.infoList__item {
    margin-top: var(--itemGap)
}

.infoList__item.point:before {
    background-color: var(--color-purple-500-primary)
}

.contentBox {
    padding: 2.4rem;
    background-color: var(--color-white);
    border: 1px solid var(--line-color-2);
    border-radius: 1.2rem
}

.contentBox--gray {
    background-color: #f8f8f8;
    border-color: #f8f8f8
}

.cardItem {
    position: relative;
    border-radius: 2.4rem;
    box-shadow: 2px 2px 18px rgba(0,0,0,.1);
    overflow: hidden
}

.cardItem__link {
    width: 100%;
    text-align: left
}

.cardItem__img {
    position: relative;
    height: 25rem;
    overflow: hidden
}

@media (min-width: 1329px) {
    .cardItem__img {
        height:32rem
    }
}

.cardItem__img img {
    height: 100%;
    object-fit: cover
}

.cardItem__cont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: var(--color-white);
    padding: 1.6rem 2.4rem 3.2rem
}

@media (min-width: 1329px) {
    .cardItem__cont {
        padding:2.4rem 4rem 4rem
    }
}

.cardItem__title {
    width: 100%
}

.cardItem__title {
    font-weight: 600;
    line-height: 1.4;
    font-size: 2rem
}

@media (min-width: 1329px) {
    .cardItem__title {
        font-size:2.4rem
    }
}

.cardItem__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

@media (min-width: 1329px) {
    .cardItem__title {
        font-weight:700
    }
}

.cardItem__status {
    position: absolute;
    display: flex;
    align-items: center;
    top: 19.4rem;
    right: 1.6rem;
    padding: 0 2rem;
    height: 4rem;
    background: var(--color-white);
    color: #00a92d;
    border: 2px solid #00a92d;
    border-radius: 5rem;
    overflow: hidden
}

.cardItem__status {
    font-weight: 600;
    line-height: 1.4;
    font-size: 1.6rem
}

@media (min-width: 1329px) {
    .cardItem__status {
        font-size:2rem
    }
}

@media (min-width: 1329px) {
    .cardItem__status {
        top:24.4rem;
        height: 5.2rem
    }
}

.cardItem__status.red {
    border-color: #ee1c00;
    color: #ee1c00
}

.header {
    height: 4.8rem;
    background-color: var(--color-white);
    transition: all .35s cubic-bezier(.25,.1,.25,1);
    --headerTextColor_1: var(--text-color-1);
    --headerTextColor_2: var(--text-color-2);
    --headerTextColor_3: var(--text-color-3)
}

@media (min-width: 1329px) {
    .header {
        height:13rem
    }
}


/* .wrap {
    display: flex;
    flex-direction: column;
    min-height: calc(var(--vh, 1vh) * 100);
    min-height: calc(var(--vh, 1vh) * 100 - env(keyboard-inset-height,0px))
}

@media (min-width: 1329px) {
    .wrap {
        min-height:auto
    }
} */

.container {
	font-family: sans-serif;
    margin-top: 4.8rem;
    padding-bottom: 9rem;
    position: relative
}

@media (min-width: 1329px) {
    .container {
        margin-top:13rem;
        padding-bottom: 12rem
    }
}

.content {
    padding-top: 2.4rem;
    position: relative
}

@media (min-width: 1329px) {
    .content {
        padding-top:5.6rem
    }
}

.point {
    color: #FF6124;
}

@font-face {
    font-family: swiper-icons;
    src: url(data:application/font-woff;charset=utf-8;base64,\ d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA);
    font-weight: 400;
    font-style: normal
}

:root {
    --swiper-theme-color: #007aff
}
/* centered horizontal mode fix */

@keyframes swiper-preloader-spin {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
}

@keyframes rdp-slide_in_left {
    0% {
        transform: translate(-100%)
    }

    to {
        transform: translate(0)
    }
}

@keyframes rdp-slide_in_right {
    0% {
        transform: translate(100%)
    }

    to {
        transform: translate(0)
    }
}

@keyframes rdp-slide_out_left {
    0% {
        transform: translate(0)
    }

    to {
        transform: translate(-100%)
    }
}

@keyframes rdp-slide_out_right {
    0% {
        transform: translate(0)
    }

    to {
        transform: translate(100%)
    }
}

@keyframes rdp-fade_in {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes rdp-fade_out {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

.attraction_closure {
    margin: 4rem 0;
    display: flex;
    align-items: center;
    gap: .8rem;
    justify-content: center
}

.attraction_closure_text {
    font-weight: 600;
    line-height: 1.4;
    font-size: 1.4rem
}

@media (min-width: 1329px) {
    .attraction_closure_text {
        font-size:1.6rem
    }
}

.attraction_closure_text .point {
    font-weight: 600;
    line-height: 1.4;
    font-size: 1.6rem
}

@media (min-width: 1329px) {
    .attraction_closure_text .point {
        font-size:2rem
    }
}

.holiday_page {
    margin-top: 4rem
}

.attraction__list {
    display: flex;
    flex-direction: column
}

.attraction__item {
    margin-top: 3.2rem
}

.attraction__item:first-of-type {
    margin-top: 0
}

.attraction__info {
    margin-top: 4rem
}

@media (min-width: 769px) {
    .attraction__list {
        flex-direction:row;
        flex-wrap: wrap
    }

    .attraction__item {
        margin-right: 3.2rem;
        width: calc((100% - 3.2rem)/2)
    }

    .attraction__item:nth-of-type(2) {
        margin-top: 0
    }

    .attraction__item:nth-of-type(2n) {
        margin-right: 0
    }
}

@media (min-width: 1329px) {
    .holiday_page {
        margin-top:8rem
    }

    .attraction__item {
        width: calc((100% - 6.4rem) / 3)
    }

    .attraction__item:nth-of-type(3) {
        margin-top: 0
    }

    .attraction__item:nth-of-type(2n) {
        margin-right: 3.2rem
    }

    .attraction__item:nth-of-type(3n) {
        margin-right: 0
    }
}

@keyframes _TEXT-BOX-RIGHT-LEFT_xb71y_1 {
    0% {
        transform: translate(--distance-x);
        opacity: 0
    }

    to {
        transform: translate(0);
        opacity: 1
    }
}

@keyframes _TEXT-BOX-RIGHT-LEFT_1r7sx_1 {
    0% {
        transform: translate(--distance-x);
        opacity: 0
    }

    to {
        transform: translate(0);
        opacity: 1
    }
}

:root {
    --vh: 100%;
    --color-black: #000;
    --color-white: #fff;
    --point-color-blue: #1e88e5;
    --point-color-blue-light: #e8f3fe;
    --point-color-red: #ed1c24;
    --point-color-red-light: #ffebee;
    --point-color-orange: #ea4800;
    --point-color-yellow: #f19c24;
    --point-color-yellow-deep: #db9600;
    --point-color-yellow-light: #f7ead5;
    --point-color-yellowgreen: #beef62;
    --point-color-green: #2da60f;
    --point-color-green-light: #e8f5e9;
    --color-purple-50: #f2f2ff;
    --color-purple-100: #ded3fb;
    --color-purple-200: #bda8f7;
    --color-purple-300: #ccbbf9;
    --color-purple-400: #7a51f0;
    --color-purple-600: #471ebd;
    --color-purple-700: #35168e;
    --color-purple-800: #240f5e;
    --color-purple-900: #12072f;
    --point-color-pink: #bb0093;
    --color-blue-100: #e8f3fe;
    --color-blue-200: #dcedfe;
    --color-blue-300: #b6dafc;
    --color-blue-500: #137bdd;
    --color-blue-600: #116ec4;
    --color-blue-700: #1067b8;
    --color-blue-800: #083762;
    --color-blue-900: #041b31;
    --color-grey-100: #f5f5f5;
    --color-grey-200: #eeeeee;
    --color-grey-400: #b8b8b8;
    --color-grey-500: #777777;
    --color-grey-600: #616161;
    --color-grey-700: #505050;
    --color-grey-800: #2a2a2a;
    --color-purple-500-primary: #5925ec;
    --color-green-busan-primary: #1d9200;
    --color-blue-400-primary: #1589f5;
    --color-blue-seoulsky-primary: #003f53;
    --color-turquoise-primary: #3c6d71;
    --color-green-primary: #005e3c;
    --color-blue-primary: #2a679f;
    --color-light-green-busan: #00b731;
    --color-blueGreen-primary: #012d38;
    --color-light-orange: #ff6824;
    --color-skyblue-seoulsky-primary: #3c6d71;
    --text-color-1: #111111;
    --text-color-2: #666666;
    --text-color-3: #999999;
    --line-color-1: #111111;
    --line-color-2: #dddddd;
    --line-color-3: #f6f6f6;
    --bg-color-1: #111111;
    --bg-color-2: #dddddd;
    --bg-color-3: #eeeeee;
    --bg-color-4: #f7f7f7;
    --disabled-bg-color: #f4f4f4
}

:root {
    --toastify-color-light: #fff;
    --toastify-color-dark: #121212;
    --toastify-color-info: #3498db;
    --toastify-color-success: #07bc0c;
    --toastify-color-warning: #f1c40f;
    --toastify-color-error: #e74c3c;
    --toastify-color-transparent: rgba(255, 255, 255, .7);
    --toastify-icon-color-info: var(--toastify-color-info);
    --toastify-icon-color-success: var(--toastify-color-success);
    --toastify-icon-color-warning: var(--toastify-color-warning);
    --toastify-icon-color-error: var(--toastify-color-error);
    --toastify-toast-width: 320px;
    --toastify-toast-offset: 16px;
    --toastify-toast-top: max(var(--toastify-toast-offset), env(safe-area-inset-top));
    --toastify-toast-right: max(var(--toastify-toast-offset), env(safe-area-inset-right));
    --toastify-toast-left: max(var(--toastify-toast-offset), env(safe-area-inset-left));
    --toastify-toast-bottom: max(var(--toastify-toast-offset), env(safe-area-inset-bottom));
    --toastify-toast-background: #fff;
    --toastify-toast-min-height: 64px;
    --toastify-toast-max-height: 800px;
    --toastify-toast-bd-radius: 6px;
    --toastify-font-family: sans-serif;
    --toastify-z-index: 9999;
    --toastify-text-color-light: #757575;
    --toastify-text-color-dark: #fff;
    --toastify-text-color-info: #fff;
    --toastify-text-color-success: #fff;
    --toastify-text-color-warning: #fff;
    --toastify-text-color-error: #fff;
    --toastify-spinner-color: #616161;
    --toastify-spinner-color-empty-area: #e0e0e0;
    --toastify-color-progress-light: linear-gradient( to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55 );
    --toastify-color-progress-dark: #bb86fc;
    --toastify-color-progress-info: var(--toastify-color-info);
    --toastify-color-progress-success: var(--toastify-color-success);
    --toastify-color-progress-warning: var(--toastify-color-warning);
    --toastify-color-progress-error: var(--toastify-color-error);
    --toastify-color-progress-bgo: .2
}

@keyframes Toastify__trackProgress {
    0% {
        transform: scaleX(1)
    }

    to {
        transform: scaleX(0)
    }
}

@keyframes Toastify__bounceInRight {
    0%,60%,75%,90%,to {
        animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    0% {
        opacity: 0;
        transform: translate3d(3000px,0,0)
    }

    60% {
        opacity: 1;
        transform: translate3d(-25px,0,0)
    }

    75% {
        transform: translate3d(10px,0,0)
    }

    90% {
        transform: translate3d(-5px,0,0)
    }

    to {
        transform: none
    }
}

@keyframes Toastify__bounceOutRight {
    20% {
        opacity: 1;
        transform: translate3d(-20px,var(--y),0)
    }

    to {
        opacity: 0;
        transform: translate3d(2000px,var(--y),0)
    }
}

@keyframes Toastify__bounceInLeft {
    0%,60%,75%,90%,to {
        animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    0% {
        opacity: 0;
        transform: translate3d(-3000px,0,0)
    }

    60% {
        opacity: 1;
        transform: translate3d(25px,0,0)
    }

    75% {
        transform: translate3d(-10px,0,0)
    }

    90% {
        transform: translate3d(5px,0,0)
    }

    to {
        transform: none
    }
}

@keyframes Toastify__bounceOutLeft {
    20% {
        opacity: 1;
        transform: translate3d(20px,var(--y),0)
    }

    to {
        opacity: 0;
        transform: translate3d(-2000px,var(--y),0)
    }
}

@keyframes Toastify__bounceInUp {
    0%,60%,75%,90%,to {
        animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    0% {
        opacity: 0;
        transform: translate3d(0,3000px,0)
    }

    60% {
        opacity: 1;
        transform: translate3d(0,-20px,0)
    }

    75% {
        transform: translate3d(0,10px,0)
    }

    90% {
        transform: translate3d(0,-5px,0)
    }

    to {
        transform: translateZ(0)
    }
}

@keyframes Toastify__bounceOutUp {
    20% {
        transform: translate3d(0,calc(var(--y) - 10px),0)
    }

    40%,45% {
        opacity: 1;
        transform: translate3d(0,calc(var(--y) + 20px),0)
    }

    to {
        opacity: 0;
        transform: translate3d(0,-2000px,0)
    }
}

@keyframes Toastify__bounceInDown {
    0%,60%,75%,90%,to {
        animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    0% {
        opacity: 0;
        transform: translate3d(0,-3000px,0)
    }

    60% {
        opacity: 1;
        transform: translate3d(0,25px,0)
    }

    75% {
        transform: translate3d(0,-10px,0)
    }

    90% {
        transform: translate3d(0,5px,0)
    }

    to {
        transform: none
    }
}

@keyframes Toastify__bounceOutDown {
    20% {
        transform: translate3d(0,calc(var(--y) - 10px),0)
    }

    40%,45% {
        opacity: 1;
        transform: translate3d(0,calc(var(--y) + 20px),0)
    }

    to {
        opacity: 0;
        transform: translate3d(0,2000px,0)
    }
}

@keyframes Toastify__zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(.3,.3,.3)
    }

    50% {
        opacity: 1
    }
}

@keyframes Toastify__zoomOut {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0;
        transform: translate3d(0,var(--y),0) scale3d(.3,.3,.3)
    }

    to {
        opacity: 0
    }
}

@keyframes Toastify__flipIn {
    0% {
        transform: perspective(400px) rotateX(90deg);
        animation-timing-function: ease-in;
        opacity: 0
    }

    40% {
        transform: perspective(400px) rotateX(-20deg);
        animation-timing-function: ease-in
    }

    60% {
        transform: perspective(400px) rotateX(10deg);
        opacity: 1
    }

    80% {
        transform: perspective(400px) rotateX(-5deg)
    }

    to {
        transform: perspective(400px)
    }
}

@keyframes Toastify__flipOut {
    0% {
        transform: translate3d(0,var(--y),0) perspective(400px)
    }

    30% {
        transform: translate3d(0,var(--y),0) perspective(400px) rotateX(-20deg);
        opacity: 1
    }

    to {
        transform: translate3d(0,var(--y),0) perspective(400px) rotateX(90deg);
        opacity: 0
    }
}

@keyframes Toastify__slideInRight {
    0% {
        transform: translate3d(110%,0,0);
        visibility: visible
    }

    to {
        transform: translate3d(0,var(--y),0)
    }
}

@keyframes Toastify__slideInLeft {
    0% {
        transform: translate3d(-110%,0,0);
        visibility: visible
    }

    to {
        transform: translate3d(0,var(--y),0)
    }
}

@keyframes Toastify__slideInUp {
    0% {
        transform: translate3d(0,110%,0);
        visibility: visible
    }

    to {
        transform: translate3d(0,var(--y),0)
    }
}

@keyframes Toastify__slideInDown {
    0% {
        transform: translate3d(0,-110%,0);
        visibility: visible
    }

    to {
        transform: translate3d(0,var(--y),0)
    }
}

@keyframes Toastify__slideOutRight {
    0% {
        transform: translate3d(0,var(--y),0)
    }

    to {
        visibility: hidden;
        transform: translate3d(110%,var(--y),0)
    }
}

@keyframes Toastify__slideOutLeft {
    0% {
        transform: translate3d(0,var(--y),0)
    }

    to {
        visibility: hidden;
        transform: translate3d(-110%,var(--y),0)
    }
}

@keyframes Toastify__slideOutDown {
    0% {
        transform: translate3d(0,var(--y),0)
    }

    to {
        visibility: hidden;
        transform: translate3d(0,500px,0)
    }
}

@keyframes Toastify__slideOutUp {
    0% {
        transform: translate3d(0,var(--y),0)
    }

    to {
        visibility: hidden;
        transform: translate3d(0,-500px,0)
    }
}

@keyframes Toastify__spin {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
}


/* 정상운행 , 정기점검이 바뀌는 css */
.cardItem__status::before {
	content: "정상운행";
}

.red::before {
	content: "정기점검";
}

